<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form method="post" th:action="@{/user-add}" th:object="${user}">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <input type="hidden" class="form-control" th:field="*{id}"/>

            <label>
                Name
                <input type="text" class="form-control" th:field="*{name}"/>
            </label>
        </div>
        <div class="col-md-6 form-group">
            <label>
                Email
                <input type="text" class="form-control" th:field="*{email}"/>
            </label>
        </div>
        <div class="col-md-6 form-group">
            <input type="submit" value="Ok"/>
        </div>
    </div>
</form>
</body>
</html>